body{
    background-color: #f1f1f1;
    font-family: "Inter", sans-serif;
}

p{
    font-size: 10px;
}

#navbar{
    background-color: #1C181D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    height: 50px;
}

#notis{
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 8px;
}

#dc{
    color: #616161;
    background-color: rgb(18, 176, 58);
    border-radius: 5px;
    height: 18px;
    padding: 5px;
    position: absolute;
    right: 0;
    margin-right: 2px;
}

#collection{
    /* align-items: center; 
   width: 120px;
   border-radius: 5px;
   background-color: grey;
   height: 70%; */
   margin-right: 30px;
   color: white;
}

#container{
    margin-top: -8px;
}

#search{
    background-color: transparent;
    border: none;
    margin-left: 5px;
    color: white;
}

#searchbox:hover{
    box-shadow: 0px 0px 5px white;
}

#searchbox{
    display: flex;
    align-items: center;
    background-color: #322F33;
    padding: 5px;
    border-radius: 5px;
    width: 40%;
}

#search::placeholder{
    color: #e5e0e0;
}

#search:focus{
    outline: none;

}

#bell{
    background-color: #322F33;
    border-radius: 5px;
    padding: 3px;
   
}

#collect{
   display: flex;
   height: 20px;
   padding: 5px 8px;
    border-radius: 5px;
    align-items: center;
    background-color: #322F33;
    position: relative;
    width: 80%;
}

#hoverbody{
    margin-top: 20px;
    background-color: #1C181D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 15px;
    padding-right: 10px; */
    padding: 8px;
    border-radius: 8px;
    height: 33px;
}

#plan{
    display: flex;
    align-items: center;
}

#planbutton{
    border-radius: 7px;
    padding: 5px;
   width: max-content;
   font-size: 10px;
}

#plan:hover #planbutton{
    
box-shadow: 0px 0px 2px white;

}

#body{
    width: 50%;
    position: relative;
    left: 25%;
}

#lowerbody{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

#setup{
    display: flex;
    justify-content: space-between;
}

#progress{
    display: flex;
    align-items: center;
    gap: 2px;
}

#fillr{
    background-color: #E3E3E3;
    width: 100px;
    height: 7px;
    border-radius: 5px;

}

#fillerr{
    background-color: #322F33;
    width: 30px;
    height: 7px;
    border-radius: 5px;

}

#setupone{
    background-color: #E3E3E3;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    display: none; 
}

#setupone.active5{
    display: flex;
}

#loadi{
    position: relative;
    top: 6px;
    
}

#customizee{
    border-radius: 7px;
    padding: 5px;
   width: max-content;
   font-size: 10px;
   color: white;
   background-color: #1C181D;
   margin-bottom: 7px;
}

#norsetup{
    display: flex;
    gap: 5px;
    padding-left: 3px;
}

#norsetupCust{
    display: flex;
    gap: 5px;
    padding-left: 3px;
    
}

#norsetupCust.active4{
    display: none;
}
#wrapper.active{
    display: block;
}
#wrapper{
    display: none;
}

#downpp{
    display: none;
}

#downpp.active2{
    display: block;
}

#upp.active3{
    display: none;
}

#piic{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

#outerset{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#innerset{
    display: flex;
    flex-direction: column;
}